<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primer MVT - Kevin Hughes</title>

<style>
    h3 {text-align: center;}
    p {text-align: center;}
    p {color: white;}
    b {font-weight: bold;}
</style>
</head>
<body style="background-color:black;">
    
    <h3  style="color:white;">Mi familia:</h3><br>

    <p><b>Nombre:</b></p>
    {% for familiar in flia %}
    <p>{{familiar.nombre}}</p>
    {% endfor %}<br>

    <p><b>Parentesco:</b></p>
    {% for familiar in flia %}
    <p>{{familiar.parentesco}}</p>
    {% endfor %}<br>

    <p><b>Fecha de Nacimiento:</b></p>
    {% for familiar in flia %}
    <p>{{familiar.fecha_nacimiento}}</p>
    {% endfor %}



</body>
</html>